/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.gem
*.rbc
*.test
.config
.DS_Store
InstalledFiles
doc/
lib/bundler/man
rdoc
test/tmp
spec/tmp
test/version_tmp
.idea
